<div class="main text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column" style="margin-top: 120px;">

        <h2>Okta_builder_</h2>

        <h3 class="mt-5">Generate Okta starter template for free!</h3>
        <p class="lead">Build and run your Okta starter template/project with few steps.</p>
        <p>Allows you to generate both <strong>source</strong> and <strong>docker</strong> builds.</p>
        <p class="mt-3">
            <a (click)="login()" class="btn btn-lg btn-primary">Get started</a>
        </p>

        <footer class="mt-5">
        <div class="inner">
            <p>Developed by Sameera Damith</p>
        </div>
        </footer>
    </div>

</div>